html, body { 
    height: 100%; 
}
body {
	font-family: Verdana, Geneva, sans-serif;
    background-color: #572561;
	background-image: url(chiri.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    margin: 0;
}
#countdownDiv {
	color: white;
	text-align: center;
	position: fixed;
	width: 100%;
	top: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 2.5vw;
}